p {
    color: orange; 
    font-size: large;
}

li {
    text-align: center;
}

html {
    font-family: "Microsoft YaHei", sans-serif; 
    background-color: beige;
}

.test-div {
    background-color: lightblue;
    margin: 30px;
    padding: 25px;
}

.my-flex {display: flex;}